.modal-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 350px;
  max-height: 400px;
  border-radius: 10px;
  padding: 1rem;

  background-color: white;
  z-index: 1;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: auto;
  display: flex;
  margin-bottom: 0.5rem;
  background-color: white;
}

.title > p {
  margin-right: auto;
}

.title > button {
  padding: 0.3rem 0.5rem;
  border-radius: 10px;
}

.pool {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  gap: 0.5rem;
  width: 100%;
  margin-top: 2rem;
  overflow: scroll;
}

.pool::-webkit-scrollbar {
  width: 0;
}

.word-item {
  display: flex;
  background-color: var(--color4);
  padding: 0.5rem;
  border-radius: 10px;
}

.word-detail {
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .modal-edit {
    width: 80%;
  }
}
